*{
    transition: 0.60s ease-in-out;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
}
body, ul, li, a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

body {
    background-image: url(../Multimedia/Backgrounds/Back\(6\).webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
}

.header {
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header a img {
    height: auto;
    width: 130px;
}

.title h1{
    font-size: 40px;
    margin-bottom: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title i:nth-child(1){
    font-style: initial;
    color: #fe0201;
}
.title i:nth-child(2){
    font-style: initial;
    color: white;
}
.title i:nth-child(3){
    font-style: initial;
    color: #0097cc;
}
.title i:nth-child(4){
    margin-left: 12px;
    font-style: initial;
    color: whitesmoke;
}

.title p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: 'Bebas Neue';
    color: whitesmoke;
}

/** Header end **/

/** Menu primary start **/

.menuH ul {
    display: flex;
}

.menuH li {
    margin-left: 12px;
}

.menuH li a {
    padding: 10px;
    color: #0097cc;
}

.wrapper ul li button {
    width: 100%;
    height: 100%;
}

.wrapper ul li button:hover {
    background: crimson;
}

.wrapper ul li, ul ul li, .wrapper ul li img {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: right;
    color: #fff;
    font-size: 14px;
    position: relative;
}

.wrapper ul li img {
    width: 70px;
    padding-right: 12px;
    cursor: pointer;
}

.wrapper ul ul li {
    background: rgba(0,0,0,0.5);
    padding-bottom: 40px;
    height: 20px;
}

.wrapper ul ul li:hover > a {
    color: #fe0201;
}

.wrapper ul ul {
    display: none;
}

.wrapper ul li:hover > ul {
    display: block;
    transition: 2s ease-in-out;
}
/** Menu primary end **/

/** Content Main start **/
.container {
    width: 920px;
    height: auto;
    margin: 4% auto;
    padding: 30px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgb(255, 57, 229);
}

/** Content Main end **/
/** Slider start **/

img {
    width: 280px;
}

.slidershow {
    width: 900px;
    height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 10px;
}

.navigator {
    position: relative;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: inline-flex;
}

.bar {
    width: 50px;
    height: 10px;
    margin: 6px;
    border: 2px solid #fff;
    cursor: pointer;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0%;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

/* Slider end */

/** Footer start**/
.copyrigth {
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0, 0.6);
}
/** Footer end**/

/** Responsive Start **/
@media (max-width: 1440px) {
    .container {
        width: 70%;
        height: inherit;
    }
    .container .slidershow {
        width: 100%;
        height: inherit;
    }

    .navigator {
        position: relative;
        margin-left: 5px;
        margin-right: 25px;
    }
}
@media (max-width: 1024px) {
    .copyrigth {
        display: block;
        text-align: center;
    }
}
@media (max-width: 580px) {
    .title {
        display: none;
    }
    .copyrigth div p strong {
        display: block;
    }
}
@media (max-width: 397px) {
    .header .logo a img {
        width: 90px;
    }  
    .header .menuH img {
        width: 50px;
        height: 40px;
    }
    .copyrigth {
        font-size: 11px;
    }
}
/** Responsive end **/