* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.btn .play {
    position: relative;
    width: 80px;
    height: 80px;
    background: #ff0000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #ff0000;
    transition: 0.5s;
}

.btn.active .play {
    box-shadow: 0 0 0 150vh #0084ff;
    background: #0084ff;
}

.btn .play::before {
    content: '';
    position: absolute;
    border: 25px solid #fffefe;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0px solid transparent;
    transform: translateX(5px);
}

.btn p {
    font-weight: 500;
    font-size: 1em;
    color: #888;
    letter-spacing: 4px;  
    text-transform: uppercase;
}

.back {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000; 
}

.bback .back:hover {
    padding: 4px;
    color: #ff0000;
}
 
.clip {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    transition: 0.5s;
}

.clip.active {
    transition-delay: 0.09s;
    transform: translate(-50%,-50%) scale(1);
}

.clip video {
    max-width: 900px;
    outline: none;
    border: 10px solid #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.clip .close { 
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff; 
}
/* Responsividade */

@media (max-width: 1024px) {
    .clip video {
        max-width: 90%;
    }
} 