*{
    margin: 0;
    padding: 0;
    font-family:'Bebas Neue'; 
}
header{
    background-image: url(../Multimedia/Backgrounds/Back\(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: none;
    background-size: cover;
    height: 100vh;
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
}
ul li{
    display: inline-block;    
}
ul li a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}
ul li a:hover{
    background-color: #0095ff;
    color: black;
}
ul li.active a{
    background-color: aliceblue;
    color: black;
}
.logo img{
    float: left;
    width: 130px;
    height: auto;
    text-align: left;
}
.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title h1{
    font-size: 70px;
    margin-bottom: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title i:nth-child(1){
    font-style: initial;
    color: #fe0201;
}
.title i:nth-child(2){
    font-style: initial;
    color: white;
}
.title i:nth-child(3){
    font-style: initial;
    color: #0097cc;
}
.title i:nth-child(4){
    font-style: initial;
    color: whitesmoke;
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid lightskyblue;
    padding: 10px 30px;
    border-radius: 15px;
    border: outset;
    background: rgba(0, 0, 0, 0.8);
    color: #fe0201;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #0097cc;
    color: white;
}

@media (max-width: 768px) {
    .button a {
        display: block;
        margin-top: 10px;
    }

    .title h1 {
        margin-bottom: 80px;
    }
}

@media (max-width: 425px) {
    .title i:nth-child(1),
    .title i:nth-child(2),
    .title i:nth-child(3) {
        margin-left: 16px;
    }

    .title i:nth-child(4) {
        display: block;
    }
}

@media (max-width: 375px) {
    .main {
        display: grid;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .button {
        margin-top: 20%;
    }
}